@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

a {
    color: #084387;
}

a:hover {
    text-decoration: none;
}

.btn-link {
    color: #084387;
}

body {
    font-family: "Roboto", Sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.background-image {
    background: url(../images/mobile-jungle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    position: fixed;
    background-color: #9acef5;
    top: 0;
    left: 0;
    Right: 0;
    z-index: 20;
}

.collapsible-menu {
    display: inline-block;
}

.collapse.in {
    display: block;
    margin-top: 0.45rem;
}

.navbar-collapse {
    margin-top: 0.45rem;
    background-color: #ffffffc9;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 4px 13px 1px #000000a8;
}

.menu-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.menu-button .btn-link {
    font-weight: 600;
    color: #084387;
    text-decoration: none;
}

.mobile-menu-item {
    padding: 0;
    line-height: 2.5rem;
}

.mobile-menu-item a {
    width: 100%;
    text-decoration: none;
    font-weight: 500;
}

.mobile-menu-item a:hover {
    color: #084387;
}

.hvr-underline-from-left:before {
    background: #084387;
}

.logo-box {
    text-align: center;
}

.logo-link {
    font-family: "Righteous";
    font-weight: 600;
    font-size: 2rem;
    color: #084387;
    text-align: center;
    text-shadow: -1px 2px 2px black;
}

.social-media {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social-media-icon {
    padding: 0 0.2rem 0;
    color: #084387;
    font-size: 1rem;
    flex: 1;
}

/*---- main content ----*/

.start-button-container {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.start-button-alert {
    background-color: #000000db;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-start {
    margin-top: 5rem;
    flex: 1;
    font-family: righteous;
    font-size: 3rem;
    text-align: center;
    color: #9acef5;
}

.start-button-alert .btn:hover {
    color: #084387;
}

.fade {
    transition: opacity .8s linear;
}
/*
.start-button {
    display: flex;
    flex: 2;
    margin: 0 auto 5rem;
    border: none;
    color: #084387;
    font-size: 4rem;
    font-weight: 600;
    font-family: "Righteous";
    text-shadow: 0px 1px 17px #fff;
}

.btn-light:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: none;
    color: #084387;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Righteous";
    text-shadow: 0px 1px 17px #fff;
}

.start-button-alert .btn:focus,
.start-button-alert .btn:focus {
    outline: 0;
    box-shadow: none;
}
*/
.carousel-container {
    padding: 0;
    margin: 0;
}

#carousel-main {
    margin-top: 3.2rem;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-icon {
    font-size: 2.5rem;
    color: #9acef5;
    text-shadow: 0px 2px 5px black;
}

.carousel-indicators li {
    background-color: #9acef5;
}


.carousel-item {
    max-height: 100vw;
    width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 0;
    bottom: 0;
}

.carousel-caption-top {
    font-size: 1.2rem;
    text-align: left;
    font-family: "Righteous";
    color: #084387;
    text-shadow: -1px 1px 0px #9acef5;
    position: absolute;
    top: 2rem;
}

.bottom-text-main {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    color: #fff;
    text-shadow: -1px 1px 0px #084387;
    position: absolute;
    bottom: 3rem;
    right: 0;
}

.bottom-text-secondary {
    font-size: 0.8rem;
    text-align: right;
    color: #9acef5;
    text-shadow: 0 2px 4px #084387;
}

.carousel-item img {
    opacity: 0.7;
}


/* ---- Callout buttons ----*/

.callout-buttons {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.quote-button {
    border: 1px solid #084387;
    border-radius: 2px;
    background-color: #9acef5;
    color: #084387;
    font-weight: 600;
    text-shadow: -1px 0px 3px #ffffff;
    box-shadow: inset 0px -12px 19px 2px #08438738;
    width: 40vw;
}

.tell-more-button {
    border: 1px solid #084387;
    color: #084387;
    width: 40vw;
}

/*---- quote form----*/

.label {
    margin-bottom: 0;
}


.help-block {
    font-size: 0.7rem;
}

/*---- Features cards ----*/

.feature-cards-container {
    background-color: #9acef5;
    padding: 2rem 1rem;
}

.feature-cards {
    text-align: center;
    padding: 0;
    margin: 2.5rem 0;
}

.feature-cards .card {
    padding: 2rem 1rem;
    border: 10px solid #9acef5;

}

.card-icon {
    font-size: 5rem;
}



/*---- Facts Counter ----*/

.counter-quotes {
    margin: 0;
    padding: 0;
}

.counter-left {
    font-family: "Righteous", sans-serif;
    text-align: center;
    margin-top: 1rem;
    margin: 2rem auto;
}

p.fact-number {
    font-size: 3rem;
    margin-bottom: 0;
    font-family: "Righteous";
}

p.fact-text {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 2rem;
}

/* ---- Quotes ---*/

.customer-quotes {
    background-color: #9acef5;
    text-align: center;
    padding: 2rem 0.5rem;
}

.counter-quotes .row {
    padding: 0;
    margin: 0;
}


.quotes-header p {
    font-size: 2rem;
    text-align: center;
    font-family: roboto;
    font-weight: 500;
    margin: 2rem auto;
}

#carousel-quotes {
    margin: 3rem auto;
}

.carousel-inner {
    overflow: visible;
}

.carousel-inner .carousel-quote {
    max-width: 100%;
}

.quote-image {
    max-width: 40vw;
    margin-bottom: 2rem;
}

.carousel-quote p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 1rem;
}


/*--- Footer --*/

.footer-details {
    background-color: #084387;
    color: #fff;
    font-size: 0.7rem;
    padding: 1.5rem 0;
}

.general-sub {
    font-size: 1rem;
}

.about-footer p {
    margin-bottom: 0;
}

.free-quote-footer {
    padding-left: 0;
}

.quote-button-footer {
    border: 1px solid #084387;
    border-radius: 2px;
    background-color: #9acef5;
    color: #084387;
    font-weight: 600;
    font-size: 0.8rem;
    text-shadow: -1px 0px 3px #ffffff;
    box-shadow: inset 0px -12px 19px 2px #08438738;
    width: 100%;
    box-sizing: border-box;
}


/*---- Services ----*/

.services-img {
    margin-top: 3.4rem;
}

.services-img img {
    opacity: 0.9;
    width: 100vw;
}

.services-img p {
    position: absolute;
    right: 0.5rem;
    margin-top: 1rem;
    font-family: righteous;
    font-size: 1.4rem;
    color: #084387;
    text-shadow: -1px 1px #9acef5;
    z-index: 1;
}

.services-header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.services-feature-cards-container {
    padding: 2rem 1rem;
    text-align: center;
}

.services-feature-cards {
    margin: 0;
    padding: 0;
}

.services-feature-cards .card {
    padding: 2rem 1rem;
    border: solid 10px #ffffff;
    background-color: #9acef5;
}

.work-products {
    background-color: #9acef5;
    text-align: center;
    padding: 2rem 1rem;
}

.work-products .work-products-header {
    font-size: 2rem;
}

.work-products-text p {
    font-size: 1rem;
}

.tech-icon {
    padding: 0;
}

.tech-icon i {
    font-size: 4rem;
    margin: 1rem;
}

.services-video-box {
    padding: 2rem 0;
    text-align: center;
}

.services-text-video iframe {
    margin: 1rem auto;
    max-width: 100%;
}

/*--- Support ---*/

.support-header {
    display: flex;
}

.support-main-image {
    padding: 0;
}

.support-main-image img {
    max-width: 100%;
    margin-top: 3.4rem;
}

.support-main-image h3 {
    position: absolute;
    top: 3.5rem;
    left: 0.6rem;
    font-family: "Righteous";
    color: #ffffff;
    text-shadow: 2px 2px 1px #084387;
}

.support-main-image p {
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    font-family: righteous;
    color: #ffffff;
    font-size: 1.2rem;
    text-shadow: 1px -1px 1px #084387;
}

.support-steps-header {
    margin-top: 2rem;
}

.support-steps {
    display: flex;
    margin: auto;
    flex-direction: column;

}

.support-step-item {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 1rem auto;
    justify-content: space-between;
}

.support-step-item h3 {
    font-family: "Righteous";
    background-color: #9acef5;
    min-width: 2.5rem;
    min-height: 2.5rem;
    text-align: center;
    margin: auto;
}

.support-step-item p {
    font-size: 1rem;
    padding-left: 1rem;
    margin: auto;
}

.faq-container {
    background-color: #9acef5;
    display: flex;
    margin: 2rem auto;
    padding: 2rem 0;
}

.faq-row {
    text-align: center;
    margin: auto;
}

.faq-header {
    margin-bottom: 2rem;
}

.panel-default {
    margin-bottom: 1rem;
}

/* Code used from http://www.prepbootstrap.com/bootstrap-template/faq-example to give the functionality to the accordion feature */

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Roboto';
    font-weight: 900;
    content: ">";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 25px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* Code used from http://www.prepbootstrap.com/bootstrap-template/faq-example to give the functionality to the accordion feature */

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.panel-body {
    background-color: #fff;
    border-radius: 5px;
}

.support-form-container {
    padding: 2rem 1rem;
}

.support-form-row {
    display: flex;
    margin: auto;
}

.support-form-header {
    text-align: center;
}

.support-form-submit {
    border: 1px solid #084387;
    border-radius: 2px;
    background-color: #9acef5;
    color: #084387;
    font-weight: 600;
    font-size: 0.8rem;
    text-shadow: -1px 0px 3px #ffffff;
    box-shadow: inset 0px -12px 19px 2px #08438738;
    width: 100%;
    box-sizing: border-box;
    max-width: 17rem;

}


/*---About---*/

.about-main-container {
    margin-top: 3.4rem;
    text-align: center;
    padding: 0 1rem 2rem;
}

.about-main-image {
    padding: 0;
}

.about-main-image img {
    width: 100%;
}

.about-main-image h2 {
    font-family: "Righteous";
    position: absolute;
    top: 0.5rem;
    left: 5rem;
    color: #fff;
    text-shadow: -2px 2px 2px #084387;
}

.about-main-image p {
    font-family: "Righteous";
    position: absolute;
    right: 0.5rem;
    bottom: 0;
    color: #fff;
    text-shadow: -2px 2px 2px #084387;
}

.about-mission-row {
    margin: 2rem 0 0;
}

.about-mission h2 {
    margin-bottom: 1rem;
}

.about-carousel-container {
    padding: 0;
}

.carousel-caption-text {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    text-align: center;
    color: #fff;
    text-shadow: -2px 1px 7px #084387;
    position: absolute;
    bottom: 2rem;
    right: 0;
}


.about-why-container {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #9acef5;
}

.about-why-row {
    align-items: stretch;
}

.about-team-image img {
    max-width: 100%;
}

.about-row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}


.about-images-right {
    flex: 1;
    order: 3;
    padding-left: 0;
}

.about-images-right img {
    max-width: 100%;
}

.about-images-left {
    flex: 1;
    order: 1;
    padding-right: 0;
}

.about-images-left img {
    max-width: 100%;
}

.about-row-bottom {
    display: flex;
}

.about-image-bottom img {
    max-width: 100%;
}
