@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto+Condensed:300i,400,700');

body {
    font-family: "Roboto", Sans-serif;
}

.background-image {
    background: url(../images/mobile-jungle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    position: fixed;
    background-color: #9acef5;
    top: 0;
    left: 0;
    Right: 0;
    z-index: 1;
}

.collapsible-menu {
    display: inline-block;
}

.collapse.in {
    display: block;
    margin-top: 0.45rem;
}

.navbar-collapse {
    margin-top: 0.45rem;
}

.menu-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.menu-button .btn-link {
    font-weight: 600;
    color: #084387;
    text-decoration: none;
}

.logo-box {
    text-align: center;
}

.logo-link {
    font-family: Righteous;
    font-weight: 600;
    font-size: 2rem;
    color: #084387;
    text-align: center;
}

.social-media-icon {
    padding: 0 0.2rem 0;
    color: #084387;
    float: right;
    font-size: 1rem;
}

.carousel {
    margin-top: 4rem;
}

.carousel-item {
    height: 95vw;
    width: 60vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.label {
    margin-bottom: 0;
}


.help-block {
    font-size: 0.7rem;
}
