@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto+Condensed:300i,400,700');

body {
    font-family: "Roboto", Sans-serif;
    padding: 0;
    margin: 0;
}

background-image {}

header {
    background-color: #f8d605;
}

.menu-button {
    color: #084387;
}

.logo-link {
    font-family: Righteous;
    font-weight: 600;
    font-size: 2rem;
    color: #084387;
}

.social-media-icon {
    color: #084387;
    float: right;
    padding: 0 2px 0;
}
